.wrapper{
	width: 100%;
	margin: 0;
	padding: 0;
}

.main{
	width: 40%;
	height: 500px;
	display: flex;
	margin: 80px auto;
	border-radius: 35px;
}
.main__input{
	position: relative;
	top: 200px;
	left: 150px;
}
.main__input > input{
	width: 250px;
	height: 30px;
	border-radius: 15px;
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
}
.main__input > input:focus{
	outline: none;
}
.main__button{
	position: relative;
	top: 270px;
	right: 55px;
}
.main__button > a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 25px;
	font-family: sans-serif;
	border: 3px solid black;
	border-radius: 20px;
	padding: 10px;
}
.main__button > a:active{
	color: red;
	border-color:red;
}